@model GliglockTest.appCore.TestsListPage

<h1>Tests</h1>
@{
    bool isThereAnyTests = Model.TestList.Any();
}
@if (isThereAnyTests)
{
    <div class="all-tests">
        @foreach (var test in Model.TestList)
        {
            <a asp-action="CertainTest" asp-route-testId="@test.Id">
                <div class="certain-test">
                    <strong>Title:</strong>
                    @test.Name
                    <br />
                    <strong>Max mark:</strong>
                    @test.MaxMark
                    <br />
                    <strong>Created:</strong>
                    @test.Teacher.FirstName
                    @test.Teacher.LastName
                </div>
            </a>
            <br />
        }
    </div>
}
else
{
    <h3>It seems the tests are over...</h3>
}

@if (User.IsInRole("Teacher"))
{
    <br />
    <a asp-action="CreateTest" class="btn btn-outline-primary">
        Add new test +
    </a>
}
<br />
<br />
<div>
    @{
        int nextPageNumber = Model.PageNumber + 1;
        int previousPageNumber = Model.PageNumber - 1;
    }
    @if (previousPageNumber >= 1)
    {
        <a asp-action="TestsList" asp-route-page="@previousPageNumber" class="btn navigate-button">&lt; Previous</a>
    }
    else
    {
        <a class="btn disabled navigate-button">&lt;Previous</a>
    }
    @if (isThereAnyTests)
    {
        <a asp-action="TestsList" asp-route-page="@nextPageNumber" class="btn navigate-button">Next ></a>
    }
    else
    {
        <a class="btn disabled navigate-button">Next ></a>
    }

</div>